.idea
script/._.DS_Store
src/nginx/conf
src/nginx/compose.yaml
src/nginx/compose.*.yaml
src/pivot/.compose.*
src/pivot/.variable.*
src/pivot/config/_generated/*
src/nginx/config/_generated/*
certs/
src/security.yaml
src/values.production.*.yaml
src/call.yaml
src/pivot/config/pivot_captcha.gophp
src/pivot/config/pivot_sms.gophp
src/pivot/config/pivot_auth.gophp
src/pivot/config/pivot_mail.gophp
configs/
!yaml_template/configs
.version
.service_label
.venv
.install_completed_steps.json
script/__pycache__/
script/utils/__pycache__/
src/domino/config/company_restrictions.gophp
src/domino/config/preview_parsing.gophp
src/domino/config/smartapps.gophp
src/federation/config/ldap.gophp
src/federation/config/oidc.gophp
src/federation/config/sso.gophp
src/integration/config/restrictions.gophp
src/monolith/config/announcement
src/monolith/config/domino
src/monolith/config/federation
src/monolith/config/file
src/monolith/config/integration
src/monolith/config/jitsi
src/monolith/config/jitsi_web
src/monolith/config/join_web
src/monolith/config/pivot
src/monolith/config/search
src/monolith/config/userbot
src/monolith/variable/announcement
src/monolith/variable/domino
src/monolith/variable/federation
src/monolith/variable/file
src/monolith/variable/integration
src/monolith/variable/jitsi
src/monolith/variable/jitsi_web
src/monolith/variable/join_web
src/monolith/variable/pivot
src/monolith/variable/search
src/monolith/variable/userbot
src/pivot/config/restrictions.gophp
src/pivot/config/smartapps.gophp
src/values.*.yaml