upstream upstream_nginx_announcement_{{.stack_name_prefix}} {

	least_conn;

	# количество keepalive соединений с апстримом
	# важно чтобы стоял после метода балансировки (ip_hash, least_conn, ...)
	keepalive 30;

	# сервера
	server {{.projects.announcement.host}}:{{.projects.announcement.service.nginx.external_https_port}};
}

server {

      	listen 80;
      	listen 443 http2 ssl;

	server_name     {{.projects.announcement.subdomain}}.{{.domain}};
	client_max_body_size	256m; # макс размер запроса, присылаемый клиентом

      	ssl_certificate     /etc/nginx/ssl/{{$.nginx.ssl_crt}};
      	ssl_certificate_key /etc/nginx/ssl/{{$.nginx.ssl_key}};

	error_log	/var/log/nginx/error.log;

	proxy_http_version	      1.1;
	proxy_ssl_verify 	      on;
	proxy_ssl_trusted_certificate /etc/ssl/certs/ca-certificates.crt;
	proxy_ssl_session_reuse       on;
	proxy_set_header Host         $host;
	proxy_ssl_name                {{.projects.announcement.host}};
	proxy_socket_keepalive 	      on;
	proxy_set_header X-Real-IP    $remote_addr;

    	#######################################################
    	# php_announcement
    	#######################################################

    	# запрещаем доступ к скрытым файлам
    	location ~ /\. {
    	    access_log off;
    	    log_not_found off;
    	    deny all;
    	}

	# apiv1
	location ~* ^/api/v1/(global|announcement)/([a-zA-Z0-9_\-]+)/?$ {

		# разрешаем только POST запросы
		limit_except POST {
			deny all;
		}

		proxy_pass https://upstream_nginx_announcement_{{.stack_name_prefix}};
	}

	# WEBSOCKET
	location /ws0 {

		# prevents 502 bad gateway error
		proxy_buffer_size	64k;
		proxy_buffers		8 32k;
		proxy_busy_buffers_size	64k;

		proxy_http_version	1.1;
		proxy_set_header	Upgrade $http_upgrade;
		proxy_set_header	Connection 'Upgrade';
		proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;

		proxy_pass https://upstream_nginx_announcement_{{.stack_name_prefix}};
	}

	# api monit
	location ~* ^/api/monit/announcement/?$ {

		proxy_pass https://upstream_nginx_announcement_{{.stack_name_prefix}};
	}

	# start
	location ~* ^/*$ {

		proxy_pass https://upstream_nginx_announcement_{{.stack_name_prefix}};
	}
}