upstream upstream_pivot_nginx_{{.stack_name_prefix}} {

	least_conn;

	# количество keepalive соединений с апстримом
	# важно чтобы стоял после метода балансировки (ip_hash, least_conn, ...)
	keepalive 30;

	# сервера
	server {{.projects.pivot.host}}:{{.projects.pivot.service.nginx.external_https_port}};
}

upstream upstream_pivot_join_{{.stack_name_prefix}} {

	least_conn;

	# количество keepalive соединений с апстримом
	# важно чтобы стоял после метода балансировки (ip_hash, least_conn, ...)
	keepalive 30;

	# сервера
	server {{.projects.pivot.host}}:{{.projects.join_web.service.join_web.external_port}};
}

server {

	listen 80;
      	listen 443 ssl http2;

	server_name		{{.domain}};
	client_max_body_size	256m; # макс размер запроса, присылаемый клиентом

      	ssl_certificate     /etc/nginx/ssl/{{$.nginx.ssl_crt}};
      	ssl_certificate_key /etc/nginx/ssl/{{$.nginx.ssl_key}};

	error_log	/var/log/nginx/error.log;

	proxy_http_version	      1.1;
	proxy_ssl_verify 	      on;
	proxy_ssl_trusted_certificate /etc/ssl/certs/ca-certificates.crt;
	proxy_ssl_session_reuse       on;
	proxy_set_header Host         $host;
	proxy_ssl_name                {{.projects.pivot.host}};
	proxy_socket_keepalive 	      on;
	proxy_set_header X-Real-IP    $remote_addr;

	# запрещаем доступ к скрытым файлам
	location ~ /\. {
		access_log off;
		log_not_found off;
		deny all;
	}

	# apiv1 2 level
	location ~* ^/api/v1/(faq|global|company|graph|notifications|talking|phone|invitelink|announcement)/([a-zA-Z0-9_\-]+)/?$ {

		# разрешаем только POST запросы
		limit_except POST {
			deny all;
		}

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	# apiv2 2 level
	location ~* ^/api/v2/(company|invitecode|premium|invitelink|joinlink|link|global|auth)/([a-zA-Z0-9_\-]+)/?$ {

		# разрешаем только POST запросы
		limit_except POST {
			deny all;
		}

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	# api www
    	location ~* ^/api/www/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/?$ {

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	# api on premise web
	location ~* ^/api/onpremiseweb/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/?$ {

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	# apiv1 3 level
	location ~* ^/api/v1/(pivot)/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/?$ {

		# разрешаем только POST запросы
		limit_except POST {
			deny all;
		}

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	# apiv2 3 level
	location ~* ^/api/v2/(company|invitecode|utils|invitelink|joinlink|link|premium|space|user)/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/?$ {

		# разрешаем только POST запросы
		limit_except POST {
			deny all;
		}

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	# join
	location ~* ^/join/([a-zA-Z0-9_\-\.]+)/?$ {

		proxy_http_version  1.1;
		proxy_cache_bypass  $http_upgrade;

		proxy_set_header Upgrade           $http_upgrade;
		proxy_set_header Connection        "upgrade";
		proxy_set_header Host              $host;
		proxy_set_header X-Real-IP         $remote_addr;
		proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host  $host;
		proxy_set_header X-Forwarded-Port  $server_port;
		proxy_set_header X-Request-Id      $request_id;

		rewrite ^.*$ / break;
		proxy_pass  http://upstream_pivot_join_{{.stack_name_prefix}};
	}

	# статика (для отображения страницы с приглашением)
	location ~* ^/assets/  {

		proxy_http_version  1.1;
		proxy_cache_bypass  $http_upgrade;

		proxy_set_header Upgrade           $http_upgrade;
		proxy_set_header Connection        "upgrade";
		proxy_set_header Host              $host;
		proxy_set_header X-Real-IP         $remote_addr;
		proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host  $host;
		proxy_set_header X-Forwarded-Port  $server_port;

		proxy_pass  http://upstream_pivot_join_{{.stack_name_prefix}};
	}

	location /favicon.ico {

		proxy_http_version  1.1;
		proxy_cache_bypass  $http_upgrade;

		proxy_set_header Upgrade           $http_upgrade;
		proxy_set_header Connection        "upgrade";
		proxy_set_header Host              $host;
		proxy_set_header X-Real-IP         $remote_addr;
		proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host  $host;
		proxy_set_header X-Forwarded-Port  $server_port;
		proxy_set_header X-Request-Id      $request_id;

		proxy_pass  http://upstream_pivot_join_{{.stack_name_prefix}};
	}

	# api www
	location ~* ^/api/www/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/?$ {

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	# страничка с капчей
	location /captcha/ {

		root /app/www/;
		index index.php;

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	# mbti html
	location ~* ^/html/mbti/?$ {

		root /app/www/;

		index index.php;

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	# api monit
	location ~* ^/api/monit/pivot/?$ {

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	location / {

		proxy_http_version  1.1;
		proxy_cache_bypass  $http_upgrade;

		proxy_set_header Upgrade           $http_upgrade;
		proxy_set_header Connection        "upgrade";
		proxy_set_header Host              $host;
		proxy_set_header X-Real-IP         $remote_addr;
		proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host  $host;
		proxy_set_header X-Forwarded-Port  $server_port;

		proxy_pass  http://upstream_pivot_join_{{.stack_name_prefix}};
	}

	#######################################################
    	# STATIC WWW
    	#######################################################

    	location ^~ /static/application/ {

        	root /var/www/;

        	# отключаем gzip чтобы в ответе возвращался content-length
        	gzip off;
        	error_log /var/log/nginx/error_file.log;
        	# кэшируем файлы
        	open_file_cache max=10000 inactive=600s; # максимальное количество файлов
        	open_file_cache_valid 600s;              # сколько хранить файл в кэше
        	open_file_cache_min_uses 1;              # количество обращений к файлу, чтобы он закэшировался
        	open_file_cache_errors on;               # кэшировать отсутствующие файлы

        	# оптимизируем чтение файлов
        	aio                     threads;
        	sendfile                on;
        	sendfile_max_chunk      1m;
        	directio                10m;
        	output_buffers          128 384k;

        	# кэшируем файлы на клиенте
        	add_header Cache-Control public;
        	expires 5m;

        	# механизм eTag
        	if_modified_since before;
        	etag on;

        	# сбрасываем, если файла нет
        	try_files $uri =404;
    	}

	#######################################################
	# pivot-sidecar STAGE
	#######################################################

	# вебхук для взаимодействия со stage через бота
	location ~* ^/webhook/userbot {

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	#######################################################
	# php_file_balancer | php_file_node
	#######################################################

	# api
	location ~* ^/api/v1/(files)/[a-zA-Z0-9_\-]+/?$ {

		# разрешаем только POST запросы
		limit_except POST {
			deny all;
		}

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	#######################################################
	# php_partner
	#######################################################

	# apiv2 2 level
	location ~* ^/api/v2/(partner)/([a-zA-Z0-9_\-]+)/?$ {

		# разрешаем только POST запросы
		limit_except POST {
			deny all;
		}

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	# apiv2 3 level
    	location ~* ^/api/v2/(partner)/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/?$ {

        	# разрешаем только POST запросы
        	limit_except POST {
        	    deny all;
        	}

        	proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
    	}

	# socket
	location /api/socket/partner/ {

		# разрешаем только POST запросы
		limit_except POST {
			deny all;
		}

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	#######################################################
	# php_test
	#######################################################

	#######################################################
	# WEBSOCKET
	#######################################################

	location /ws0 {

		# prevents 502 bad gateway error
		proxy_buffer_size	64k;
		proxy_buffers		8 32k;
		proxy_busy_buffers_size	64k;

		proxy_http_version	1.1;
		proxy_set_header	Upgrade $http_upgrade;
		proxy_set_header	Connection "Upgrade";
		proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}

	#######################################################
	# php_crm socket
	#######################################################

	# socket
	location /api/socket/crm/ {

		# разрешаем только POST запросы
		limit_except POST {
			deny all;
		}

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}
}

server {

	listen 80;
      	listen 443 ssl http2;

	server_name		start.{{.domain}};
	client_max_body_size	256m; # макс размер запроса, присылаемый клиентом

      	ssl_certificate     /etc/nginx/ssl/{{$.nginx.ssl_crt}};
      	ssl_certificate_key /etc/nginx/ssl/{{$.nginx.ssl_key}};

	error_log	/var/log/nginx/error.log;

	proxy_http_version	      1.1;
	proxy_ssl_verify 	      on;
	proxy_ssl_trusted_certificate /etc/ssl/certs/ca-certificates.crt;
	proxy_ssl_session_reuse       on;
	proxy_set_header Host         $host;
	proxy_ssl_name                {{.projects.pivot.host}};
	proxy_socket_keepalive 	      on;
	proxy_set_header X-Real-IP    $remote_addr;

	# запрещаем доступ к скрытым файлам
	location ~ /\. {
		access_log off;
		log_not_found off;
		deny all;
	}

	# start
	location ~* ^/*$ {

		root /app/www/;
		index index.php;

		proxy_pass  https://upstream_pivot_nginx_{{.stack_name_prefix}};
	}
}